<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yed.system.dao.ResourcesMapper">
  <resultMap id="BaseResultMap" type="com.yed.system.model.Resources">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="r_name" jdbcType="VARCHAR" property="rName" />
    <result column="r_url" jdbcType="VARCHAR" property="rUrl" />
    <result column="r_type" jdbcType="VARCHAR" property="rType" />
    <result column="r_sort" jdbcType="VARCHAR" property="rSort" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="VARCHAR" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, r_name, r_url, r_type, r_sort, create_by, create_date, update_by, update_date, 
    remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_resources
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_resources
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yed.system.model.Resources">
    insert into sys_resources (id, pid, r_name, 
      r_url, r_type, r_sort, 
      create_by, create_date, update_by, 
      update_date, remarks)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{rName,jdbcType=VARCHAR}, 
      #{rUrl,jdbcType=VARCHAR}, #{rType,jdbcType=VARCHAR}, #{rSort,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yed.system.model.Resources">
    insert into sys_resources
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="rName != null">
        r_name,
      </if>
      <if test="rUrl != null">
        r_url,
      </if>
      <if test="rType != null">
        r_type,
      </if>
      <if test="rSort != null">
        r_sort,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="rName != null">
        #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rUrl != null">
        #{rUrl,jdbcType=VARCHAR},
      </if>
      <if test="rType != null">
        #{rType,jdbcType=VARCHAR},
      </if>
      <if test="rSort != null">
        #{rSort,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yed.system.model.Resources">
    update sys_resources
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="rName != null">
        r_name = #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rUrl != null">
        r_url = #{rUrl,jdbcType=VARCHAR},
      </if>
      <if test="rType != null">
        r_type = #{rType,jdbcType=VARCHAR},
      </if>
      <if test="rSort != null">
        r_sort = #{rSort,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yed.system.model.Resources">
    update sys_resources
    set pid = #{pid,jdbcType=INTEGER},
      r_name = #{rName,jdbcType=VARCHAR},
      r_url = #{rUrl,jdbcType=VARCHAR},
      r_type = #{rType,jdbcType=VARCHAR},
      r_sort = #{rSort,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.yed.system.model.Resources">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="r_name" jdbcType="VARCHAR" property="rName" />
    <result column="r_url" jdbcType="VARCHAR" property="rUrl" />
    <result column="r_type" jdbcType="VARCHAR" property="rType" />
    <result column="r_sort" jdbcType="VARCHAR" property="rSort" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="VARCHAR" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, r_name, r_url, r_type, r_sort, create_by, create_date, update_by, update_date, 
    remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_resources
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_resources
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yed.system.model.Resources">
    insert into sys_resources (id, pid, r_name, 
      r_url, r_type, r_sort, 
      create_by, create_date, update_by, 
      update_date, remarks)
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{rName,jdbcType=VARCHAR}, 
      #{rUrl,jdbcType=VARCHAR}, #{rType,jdbcType=VARCHAR}, #{rSort,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yed.system.model.Resources">
    insert into sys_resources
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="rName != null">
        r_name,
      </if>
      <if test="rUrl != null">
        r_url,
      </if>
      <if test="rType != null">
        r_type,
      </if>
      <if test="rSort != null">
        r_sort,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="rName != null">
        #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rUrl != null">
        #{rUrl,jdbcType=VARCHAR},
      </if>
      <if test="rType != null">
        #{rType,jdbcType=VARCHAR},
      </if>
      <if test="rSort != null">
        #{rSort,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yed.system.model.Resources">
    update sys_resources
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="rName != null">
        r_name = #{rName,jdbcType=VARCHAR},
      </if>
      <if test="rUrl != null">
        r_url = #{rUrl,jdbcType=VARCHAR},
      </if>
      <if test="rType != null">
        r_type = #{rType,jdbcType=VARCHAR},
      </if>
      <if test="rSort != null">
        r_sort = #{rSort,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yed.system.model.Resources">
    update sys_resources
    set pid = #{pid,jdbcType=INTEGER},
      r_name = #{rName,jdbcType=VARCHAR},
      r_url = #{rUrl,jdbcType=VARCHAR},
      r_type = #{rType,jdbcType=VARCHAR},
      r_sort = #{rSort,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_resources
        ORDER BY sys_resources.r_sort
    </select>

    <select id="findTByT" parameterType="com.yed.system.model.Resources" resultMap="BaseResultMap">
        select DISTINCT sys_resources.id, sys_resources.pid, sys_resources.r_name, sys_resources.r_url, sys_resources.r_type, sys_resources.r_sort
        from sys_resources,sys_role_resources,sys_user_role
        where sys_resources.id = sys_role_resources.resource_id
        and sys_user_role.role_id = sys_role_resources.role_id
        and sys_resources.r_type = #{resourceType}
        and sys_user_role.user_id = #{id}
        ORDER BY sys_resources.r_sort
  </select>
  
</mapper>