<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yed.system.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.yed.system.model.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_date" jdbcType="VARCHAR" property="createDate"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_date" jdbcType="VARCHAR" property="updateDate"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="role_names" jdbcType="VARCHAR" property="roleNames"/>
    </resultMap>

    <sql id="Base_Column_List">
      id, login_name, user_name, password, create_by, create_date, update_by, update_date, remarks
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey">
        delete from sys_user
        where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insert" parameterType="com.yed.system.model.User" keyProperty="id" useGeneratedKeys="true">
        insert into sys_user (id, login_name, user_name,
          password, create_by, create_date,
          update_by, update_date, remarks
          )
        values (#{id,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
          #{password,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR},
          #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
          )
    </insert>

    <insert id="insertSelective" parameterType="com.yed.system.model.User" keyProperty="id" useGeneratedKeys="true">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                id,
            </if>
            <if test="loginName != null and loginName != ''">
                login_name,
            </if>
            <if test="userName != null and userName != ''">
                user_name,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="createBy != null and createBy != ''">
                create_by,
            </if>
            <if test="createDate != null and createDate != ''">
                create_date,
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by,
            </if>
            <if test="updateDate != null and updateDate != ''">
                update_date,
            </if>
            <if test="remarks != null and remarks != ''">
                remarks,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null and id != ''">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="loginName != null and loginName != ''">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null and userName != ''">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null and createBy != ''">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null and createDate != ''">
                #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null and updateBy != ''">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null and updateDate != ''">
                #{updateDate,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null and remarks != ''">
                #{remarks,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yed.system.model.User">
        update sys_user
        <set>
            <if test="loginName != null and loginName!= ''">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="userName != null and userName!= ''">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null and createBy != ''">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null and createDate != ''">
                create_date = #{createDate,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null and updateBy != ''">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null and updateDate != ''">
                update_date = #{updateDate,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

	<select id="selectAll" resultMap="BaseResultMap">
        select   
        <include refid="Base_Column_List"/>
        from sys_user
        order by create_date desc
    </select>

    <select id="findTCountByT" resultType="java.lang.Integer" parameterType="com.yed.system.model.User">
        select count(*)
        from sys_user
        where 1=1
        <if test="loginName!= null and loginName != ''">
            and login_name = #{loginName}
        </if>
        <if test="password != null and password != ''">
            and password = #{password}
        </if>
        <if test="userName != null and userName != ''">
            and user_name = #{userName}
        </if>
    </select>
    <select id="findTByT" parameterType="com.yed.system.model.User" resultMap="BaseResultMap">
        select  
        <include refid="Base_Column_List"/>
        from sys_user
        where 1=1
        <if test="loginName!= null and loginName != ''">
            and login_name = #{loginName}
        </if>
        <if test="password != null and password != ''">
            and password = #{password}
        </if>
        <if test="userName != null and userName != ''">
            and user_name = #{userName}
        </if>
        order by create_date desc
    </select>

    <select id="findTByPage" parameterType="com.yed.common.model.Page" resultMap="BaseResultMap">
        select sys_user.*, group_concat(sys_role.role_name separator '，') as role_names
        from sys_user, sys_role, sys_user_role
        where sys_user.id = sys_user_role.user_id
        and sys_role.id = sys_user_role.role_id
        <if test="t.loginName!= null and t.loginName != ''">
            and sys_user.login_name = #{t.loginName}
        </if>
        <if test="t.password != null and t.password != ''">
            and sys_user.password = #{t.password}
        </if>
        <if test="t.userName != null and t.userName != ''">
            and sys_user.user_name = #{t.userName}
        </if>
        GROUP BY sys_user.id
        order by sys_user.create_date desc
        limit #{first}, #{pageSize}
    </select>
</mapper>